@page "/fetchimages"
@inject HttpClient Http
@using TPCWare.XmasDev.Models

<h1>Xmas Cards</h1>

@if (XmasCardList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @*<ImageList XmasCardList="@XmasCardList" />*@

    <ImageCards XmasCardList="@XmasCardList" />

    <div class="pt-4">
        <button onclick="@ShowHideJson">@(String.IsNullOrWhiteSpace(visibleJson) ? "Show" : "Hide") Json</button>
    </div>
    <p class="pt-4">
        @visibleJson
    </p>
}

@functions {

    string apiKey = "HAZGkY5EWpw4pNrNIzsbtKAzCei53iYTXKBELo3Y";

    int maxNumOfItems = 5;

    XmasCard[] XmasCardList;
    string jsonText;
    string visibleJson;

    protected override async Task OnInitAsync()
    {
        await FetchImages();
    }

    protected async Task FetchImages()
    {
        try
        {
            //Http.BaseAddress = new Uri("https://xmasdevblazorapi.azurewebsites.net");
            //var httpResponse = await Http.GetAsync($"/planetary/apod?api_key={apiKey}&count={maxNumOfItems}");
            //jsonText = await httpResponse.Content.ReadAsStringAsync();

            await Task.Delay(1000);

            jsonText = Json.Serialize(FakeList().ToArray());
            XmasCardList = Json.Deserialize<XmasCard[]>(jsonText);

            // throw new Exception("Errore nel fetch dell'immagine.");
        }
        catch (Exception ex)
        {
            // @using Microsoft.AspNetCore.Blazor.Browser.Interop
            // RegisteredFunction.Invoke<bool>("consoleLog", ex);
        }
    }

    protected void ShowHideJson()
    {
        visibleJson = String.IsNullOrWhiteSpace(visibleJson) ? jsonText : String.Empty;
    }

    protected List<XmasCard> FakeList()
        => new List<XmasCard>
        {
            new XmasCard(1, "Card 1","Babbo Natale con le renne.", "https://user-images.githubusercontent.com/139274/49836890-b05aba80-fda4-11e8-89f7-ac3934c1e893.png"),
            new XmasCard(2, "Card 2", "Renna col cappellino di Babbo Natale.", "https://user-images.githubusercontent.com/139274/49836926-cf594c80-fda4-11e8-8583-fc40137982ca.png"),
            new XmasCard(3, "Card 3", "Renna dal naso rosso con cappellino e fiocchetto.", "https://user-images.githubusercontent.com/139274/49836951-db450e80-fda4-11e8-8c49-2ae3b5f87892.png")
        };

    /*
    {
        "copyright": "Hubble Legacy Archive",
        "date": "2017-07-12",
        "explanation": "A bright spiral galaxy of the northern sky, Messier 63 is about 25 million light-years distant in the loyal constellation Canes Venatici. Also cataloged as NGC 5055, the majestic island universe is nearly 100,000 light-years across. That's about the size of our own Milky Way Galaxy. Known by the popular moniker, The Sunflower Galaxy, M63 sports a bright yellowish core in this sharp composite image from space- and ground-based telescopes. Its sweeping blue spiral arms are streaked with cosmic dust lanes and dotted with pink star forming regions. A dominant member of a known galaxy group, M63 has faint, extended features that are likely star streams from tidally disrupted satellite galaxies. M63 shines across the electromagnetic spectrum and is thought to have undergone bursts of intense star formation.",
        "hdurl": "https://apod.nasa.gov/apod/image/1707/M63-HST-Subaru-LL.jpg",
        "media_type": "image",
        "service_version": "v1",
        "title": "Messier 63: The Sunflower Galaxy",
        "url": "https://apod.nasa.gov/apod/image/1707/M63-HST-Subaru-S1024.jpg"
    }
    */

    // https://api.nasa.gov/planetary/apod?api_key=DEMO_KEY&count=5
    // https://api.nasa.gov/planetary/apod?api_key=DEMO_KEY&start_date=2017-07-05&end_date=2017-07-10
    // https://api.nasa.gov/planetary/apod?api_key=HAZGkY5EWpw4pNrNIzsbtKAzCei53iYTXKBELo3Y&count=5
    // string apiKey = "DEMO_KEY";

}


