@page "/"

<div class="text-center mb-3">
    <br/>
    <h1 class="card-title">Hello, Developers!</h1>
    <p class="card-text">Welcome to the XmasDev Card of the Day.</p>
    <img src="/images/XmasDevLogo.png" alt="XmasDev logo image" style="width:50%">
</div>
